# Project exclude paths
.idea/
node_modules/
src/js/pages/helloWorld/
src/js/pages/test/
src/js/pages/xmQAQ/

src/tplEJS/pages/HelloWorld.ejs
src/tplEJS/pages/XMQAQ.ejs

src/vue/models/test/
src/vue/models/xmQAQ/

src/vue/styles/test/
src/vue/styles/xmQAQ/

src/vue/views/test/
src/vue/views/xmQAQ/

src/styles/scss/pages/helloWorld/
src/styles/scss/pages/xmQAQ/
