/*
Project: WebProTpl
Author：12278
Email：2726893248@qq.com
CreateDate：2019-01-01 00:00:00
IDE: WebStorm
*/

@font-face {
    font-family: 'Font_Helvetica';
    src: url(../../../../assets/fonts/Helvetica.otf);
}

html.helloWorld {
    background-color: #22afe9;
    width: 100%;

    body, #LocalRoll, #HelloWorld, main {
        width: 100%;
        background-color: #22afe9;
    }

    #LocalRoll, #HelloWorld, main {
        height: 100%;
    }

    #HelloWorld {

        article {
            width: 100%;

            .title {
                display: block;
                width: 100%;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: white;
                font-size: 20px;
                font-family: Font_Helvetica;
            }

        }

    }

}

@media only screen and (width: 812px) and (height: 375px) and (orientation: landscape) and (-moz-device-pixel-ratio: 3), only screen and (width: 812px) and (height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3), only screen and (width: 812px) and (height: 375px) and (orientation: landscape) and (device-pixel-ratio: 3) {

    html.helloWorld {

        #HelloWorld {

            article {
                padding: 0;
            }

        }

    }

}
